<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="mystyle.css"/>
	<title>Sign up</title>
</head>
<body>
  <h1>Придумайте себе ник и пароль</h1>
  <form action="/auth/signup" method="post">
    <label>
      Login:
      <br>
      <input class="auth-form" type="text" name="login">
    </label>
      <br>
      <br>
    <label>
      Password:
      <br>
      <input class="auth-form" type="password" name="password">
    </label>
      <br>
      <br>
    <input class="submit-button" type="submit" name="button" value="sign in">
    <br>
    <br>
  </form>
</body>